@import 'fonts';
@import 'variables';
@import 'reset';
@import 'utils';

.nav {
  background-color: $primary;
  padding: .7em 0;

  &__side {
    position: fixed;
    height: 100vh;
    width: 80vw;
    top: 0;
    background-color: $white;
  }
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-around;

  &__header {
    color: $white;
    font-size: 1.8rem;
    text-transform: capitalize;
  }

  &__burger {
    position: relative;
    width: 25px;
    height: 20px;
    cursor: pointer;
  }

  &__stick {
    width: 100%;
    height: 3px;
    background-color: $white;
    position: absolute;
    border-radius: 10px;

    &:nth-child(2) {
      top: 50%;
      transform: translateY(-50%);
    }

    &:nth-child(3) {
      bottom: 0;
    }
  }
}