@import 'fonts';
@import 'variables';
@import 'reset';
@import 'utils';

// Menu + hamburger
.nav {
  background-color: $primary;
  padding: .7em 0;

  &__side {
    position: fixed;
    height: 100vh;
    width: 80vw;
    top: 0;
    background-color: $white;
    left: -100%;
    transition: left ease-in-out 250ms;
    z-index: 2;
  }

  &__link {
    width: 100%;
    display: block;
    padding: 1em 2.5em;
    text-transform: capitalize;

    &--active {
      background-color: $gray;
    }
  }

  &__close__item {
    position: relative;
  }

  &__close {
    width:30px;
    height:30px;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
  
    &__header {
      color: $white;
      font-size: 1.8rem;
      text-transform: capitalize;
    }
  
    &__burger {
      position: relative;
      width: 25px;
      height: 20px;
      cursor: pointer;
    }
  
    &__stick {
      width: 100%;
      height: 3px;
      background-color: $white;
      position: absolute;
      border-radius: 10px;
  
      &:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
      }
  
      &:nth-child(3) {
        bottom: 0;
      }
    }
  }
}

.hero {
  height: 450px;
  background-image: url('../img/header-img.jpg'),
  linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
  color: $white;
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  padding-bottom: 1.3em;

  &__content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1.5fr 1fr 1fr;
  }

  &__title {
    font-weight: 400;
    text-align: center;
    align-self: center;
    font-size: 2.5rem;
  }

  &__button {
    height: 40%;
    width: 50%;
    justify-self: center;
    align-self: center;
    background-color: $primary;
    border: 0;
    color: $white;
    text-transform: uppercase;
    font-size: .8rem;
    cursor: pointer;
  }

  &__address {
    align-self: end;
    text-align: right;
    line-height: 1.3;
  }
}
@import 'js';
