<section class="about">
  <div class="container">
    <h2 class="about__title">O nás</h2>
    <div class="about__description">
      <p>Jsme prádelna v centru Prahy. Nacházíme se jen pár kroků od Václavského náměstí v ulici Štěpánská. Jako
        profesionální prádelna fungujeme již od roku 1995. Svým zákazníkům vždy nabízíme to nejlepší z našich
        služeb
        praní, žehlení i mandlování. Provozovna je plně vybavena profesionálním, průmyslovým vybavením. Pro vstup
        do
        provozovny stačí zazvonit a majitel Josef Mádle Vám přijde otevřít. Pereme, žehlíme i mandlujeme hotelům,
        penzionům, lékařským ambulancím, soukromníkům a mnoha dalším.</p>
      <strong>Informace pro vozíčkáře</strong>
      <p>
        Prádelna se nachází ve dvoře. Přístup k ní je průjezdem přes dvoje vrata. První vrata jsou dvoukřídlá
        (šířka
        2x 110 cm), otevírají se mechanicky směrem dovnitř. Druhá vrata jsou dvoukřídlá (šířka 2x 126 cm),
        otevírají
        se mechanicky směrem dovnitř. Dvůr má místy sklon až 6,4 %. Před vstupními dveřmi do provozovny je rampa
        (sklon 8 – 12 %, šířka 149 cm, délka 101 cm). Dveře jsou jednokřídlé (šířka 91 cm), otevírají se směrem
        ven.
      </p>
      <p>
        Uvnitř provozovny se nachází příjmový a výdejový pult (výška 90 cm, bez podjezdu).
      </p>
      <p>
        Hygienické zázemí (WC) není k dispozici.
      </p>
    </div>
  </div>
</section>