<!DOCTYPE html>
<html lang="cs">

<head>
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
</head>

<body>
  <nav class="nav">
    <div class="container">
      <div class="menu">
        <div class="menu__burger">
          <span class="menu__stick"></span>
          <span class="menu__stick"></span>
          <span class="menu__stick"></span>
        </div>
        <header class="menu__header">
          Prádelna štěpánská
        </header>
      </div>
    </div>
    <div class="nav__side">
      <ul>
        <li>hello</li>
        <li>hello</li>
        <li>hello</li>
        <li>hello</li>
        <li>hello</li>
        <li>hello</li>
      </ul>
    </div>
  </nav>

</body>

</html>