<nav class="nav">
  <div class="container">
    <div class="menu">
      <div class="menu__burger">
        <span class="menu__stick"></span>
        <span class="menu__stick"></span>
        <span class="menu__stick"></span>
      </div>
      <header class="menu__header">
        Prádelna štěpánská
      </header>
    </div>
  </div>
  <div class="nav__side">
    <ul>
      <li class="nav__close__item">
        <a data-target="hero" class="nav__link nav__link--active" href="/">Domů</a>
        <svg class="nav__close" viewBox="0 0 24 24">
          <path d="" />
        </svg>
      </li>
      <li><a data-target="about" class="nav__link" href="/">O nás</a></li>
      <li><a data-target="services" class="nav__link" href="/">Služby</a></li>
      <li><a data-target="pricing" class="nav__link" href="/">Ceník</a></li>
      <li><a data-target="contact" class="nav__link" href="/">Kontakt</a></li>
    </ul>
  </div>
</nav>